.certifications__box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .certifications__box {
    flex-direction: column;
  }
}
