.degree-card {
  margin-bottom: 1.5rem;
}

.degree-card__header-inner {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.degree-card__logo {
  max-width: 100px;
  width: 100%;
  height: 100%;
  margin-left: 1rem;
}

@media (max-width: 425px) {
  .degree-card__header-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .degree-card__logo {
    margin: 1rem;
  }
}
