.github i {
  background-color: #333;
  transition: all 0.2s ease-in-out;
}

.github i:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #333;
}

.google i {
  background-color: #ea4335;
  transition: all 0.2s ease-in-out;
}

.google i:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #ea4335;
}

.twitter i {
  background-color: #1da1f2;
  transition: all 0.2s ease-in-out;
}

.twitter i:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #1da1f2;
}
